/* TODO AJOUTER TOUTES LES PROPRIÉTER EN RAPPORT AVEC LE A PROPOS; */
#box-1 .content button
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  position: relative;
  left: 2%;
  margin: 20% 3%;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#box-1 img
{
  width: 100%;
}

/* Mise en place du Flexbox pour que les deux premiers éléments soient côte à côte */
#box-1 #contexte-etapes {
  display: flex; 
  justify-content: space-between; /* Espacement entre les deux colonnes */
  margin-bottom: 20px; /* Espacement sous la section */
}

/* Style pour la section "Contexte" */
#box-1 #contexte {
  flex: 1; /* Prendre autant d'espace que possible */
  padding: 20px;
  box-sizing: border-box;
}

/* Style pour la section "Étapes de Réalisation" */
#box-1 #etapes {
  flex: 1; /* Prendre autant d'espace que possible */
  padding: 20px;
  box-sizing: border-box;
}

/* Ajout de marges et de styles pour la section "Ce que j'ai pu apprendre" */
#box-1 #apprentissage {
  margin-top: 40px;
  padding: 20px;
}

/* Pour les éléments de liste dans "Ce que j'ai pu apprendre" */
#box-1 #apprentissage ul {
  padding-left: 20px;
}

#box-1 #apprentissage li {
  margin-bottom: 10px;
}

/* Image en bas du contenu */
#box-1 img {
  display: block;
  max-width: 100%; /* Réduire l'image si elle dépasse la taille de l'écran */
  margin-top: 20px; /* Un peu d'espace entre l'image et le texte */
}

#box-1 h2
{
  text-align: center;
  padding-bottom: 5px;
}